.div-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

h1{
  text-align: center;
  font-size: xxx-large;
  margin: 30px;
}

.main_component {
  height: 100vh;
}

div{
  margin: 10px;
}
button{
  margin: 10px;
}

form{
  display: inline-grid;
  width: 50%;
  align-self: center;
}
