.div-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

div{
  margin: 10px;
}
button{
  margin: 10px;
}

h1{
  text-align: center;
  font-size: xxx-large;
  margin: 30px;
}

.example-card {
  max-width: 400px;
  margin-left: 40px;
}

.card-even{
  background-color: lightslategrey;
}

.card-odd{
  background-color: mediumpurple;
}

.foodImage{
  max-width: 400px;
  max-height: 200px;
}
