.div-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

div{
  margin: 10px;
}
button{
  margin: 10px;
}

.example-card {
  max-width: 400px;
  margin-left: 40px;
}

.card-even{
  background-color: lightslategrey;
}

.card-odd{
  background-color: mediumpurple;
}
